body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#game-container {
    width: 750px;
    height: 750px;
    border: 2px solid #333;
    position: relative;
    background-color: rgba(255, 255, 255, 0.8); /* semi-transparent background */
}

#controls {
    position: absolute;
    top: 810px; /* Adjust as needed */
    left: 0;
    right: 0;
    text-align: center;
}

button {
    margin: 10px;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
}

button:hover {
    background-color: #0056b3;
}

#scoreboard {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 22px;
    color: #333;
}
